/* Basic CSS*/
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
  
body {
    margin: 0 auto;
}

/* Navigation bar */
.nav {
    background-color: black;
    position: sticky;
    top:0;
}
    
.f-rt {
    float: right; 
}
      
.f-lt {
    float: left;
}
      
.ul {
    list-style-type: none;
    overflow: hidden;
}
  
.menu {
    list-style-type: none;
    color: black;
    margin: 1px 40;
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding: 15px;
}

.container {
    display: flex;
    flex-flow: wrap;
    padding: 5% 15%;
    justify-content: center;

}

.item1 {
    width: 100%;
}

.item2 {
    width: 30%;
    height: 20%;
    margin: 10px 10px;

}

.font {
    font-family: 'Courier New', Courier, monospace; 
}

.size {
    font-size: 50px;
}


  